In [1]:
import re
import string
import time
from copy import deepcopy

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset_tugas.csv', sep=';')

In [4]:
df

    Unnamed: 0                                             Tweets
0            0  @FirahAlam Baik, Kak Stark. Mohon berkenan men...
1            1  @FirahAlam Halo, Kak Stark. Maaf ya, terkait k...
2            2  @t1kamer4d Dibuat gak nyaman ya, Kak George. N...
3            3  @andre_sni Baik, Kak Andre. Mohon berkenan men...
4            4  @myowish Hai, Kak Alen. Telkomsel dan Disney+ ...
..         ...                                                ...
95          95  @KaDRuN_ToL0L Aduh, Maaf ya Kak jadi gak nyama...
96          96  @kecroh Pak lurah makan kue cucur. Gea segera ...
97          97  @rutotelkomsel Makan buah sambil lembur. Mohon...
98          98  @pejuangkhilaf Hai, Kak. Maafin ya. Boleh ceri...
99          99  @pejuangkhilaf Masa sih mahal Kak? Coba kasih ...

[100 rows x 2 columns]

In [5]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons

text_processor = TextPreProcessor(
    # terms that will be normalized
    normalize=['email', 'percent', 'money', 'phone', 'user',
        'time', 'date', 'number'],
    # terms that will be annotated
    #annotate={"hashtag", "allcaps", "elongated", "repeated",'emphasis', 'censored'},
    annotate={"hashtag"},
    fix_html=True,  # fix HTML tokens
    
    # corpus from which the word statistics are going to be used 
    # for word segmentation 
    segmenter="twitter", 
    
    # corpus from which the word statistics are going to be used 
    # for spell correction
    corrector="twitter", 
    
    unpack_hashtags=True,  # perform word segmentation on hashtags
    unpack_contractions=True,  # Unpack contractions (can't -> can not)
    spell_correct_elong=False,  # spell correction for elongated words
    
    # select a tokenizer. You can use SocialTokenizer, or pass your own
    # the tokenizer, should take as input a string and return a list of tokens
    tokenizer=SocialTokenizer(lowercase=True).tokenize,
    
    # list of dictionaries, for replacing tokens extracted from the text,
    # with other expressions. You can pass more than one dictionaries.
    dicts=[emoticons]
)

C:\Users\Vincent\anaconda3\lib\site-packages\ekphrasis\classes\tokenizer.py:225: FutureWarning: Possible nested set at position 2190
  self.tok = re.compile(r"({})".format("|".join(pipeline)))

Reading twitter - 1grams ...
Reading twitter - 2grams ...
Reading twitter - 1grams ...

C:\Users\Vincent\anaconda3\lib\site-packages\ekphrasis\classes\exmanager.py:14: FutureWarning: Possible nested set at position 42
  regexes = {k.lower(): re.compile(self.expressions[k]) for k, v in

In [6]:
# panggil ekphrasis

def bersih_data(text):
    return " ".join(text_processor.pre_process_doc(text))

In [7]:
# fungsi dari AMS 01-03. silakan cek bagaimana saya merubah menjadi fungsi

def non_ascii(text):
    return text.encode('ascii', 'replace').decode('ascii')

def remove_space_alzami(text):
    return " ".join(text.split())

def remove_emoji_alzami(text):
    return ' '.join(re.sub("([x#][A-Za-z0-9]+)"," ", text).split())

def remove_tab(text):
    return text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")

def remove_tab2(text):
    return re.sub('\s+',' ',text)

def remove_rt(text):
    return text.replace('RT'," ")

def remove_mention(text):
    return ' '.join(re.sub("([@][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", text).split())

def remove_incomplete_url(text):
    return text.replace("http://", " ").replace("https://", " ")

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def change_stripe(text):
    return text.replace('-'," ")

def lower(text):
    return text.lower()

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def lower(text):
    return text.lower()

def remove_whitespace_LT(text):
    return text.strip()

def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

def remove_punctuation(text):
    remove = string.punctuation
    remove = remove.replace("_", "") # don't remove hyphens
    pattern = r"[{}]".format(remove) # create the pattern
    return re.sub(pattern, "", text)

In [8]:
# hapus untuk <>
def remove_number_eks(text):
    return text.replace('<number>'," ")

def remove_angka(text):
    return re.sub(r"\d+", "", text) 

def remove_URL_eks(text):
    return text.replace('URL'," ").replace('url'," ")

def space_punctuation(text):
    return re.sub('(?<! )(?=[.,!?()])|(?<=[.,!?()])(?! )', r' ', text)

In [9]:
i = 0
final_string = []
s = ""
for text in df['Tweets'].values:
    filteredSentence = []
    EachReviewText = ""
    
    proc = remove_rt(text)
    proc = remove_mention(proc)
    proc = lower(proc)
    proc = change_stripe(proc)
    proc = remove_emoji_alzami(proc)
    proc = remove_tab(proc)
    proc = remove_tab2(proc)
    proc = non_ascii(proc)
    proc = remove_incomplete_url(proc)
    proc = remove_excessive_dot(proc)
    proc = remove_whitespace_LT(proc)
    proc = remove_whitespace_multiple(proc)
    proc = remove_single_char(proc)
    proc = space_punctuation(proc)
    proc = remove_punctuation(proc)
    proc = remove_space_alzami(proc)
    proc = bersih_data(proc)
    proc = remove_number_eks(proc)
    proc = remove_angka(proc) 
    proc = remove_URL_eks(proc)
    
    EachReviewText = proc
    final_string.append(EachReviewText)

In [10]:
df["langkah01"] = final_string

In [11]:
df.head(5)

,Unnamed: 0,Tweets,langkah01
0,0,"@FirahAlam Baik, Kak Stark. Mohon berkenan men...",baik kak stark mohon berkenan menunggu interak...
1,1,"@FirahAlam Halo, Kak Stark. Maaf ya, terkait k...",halo kak stark maaf ya terkait kendala aktivas...
2,2,"@t1kamer4d Dibuat gak nyaman ya, Kak George. N...",dibuat gak nyaman ya kak george notifikasi ter...
3,3,"@andre_sni Baik, Kak Andre. Mohon berkenan men...",_sni baik kak andre mohon berkenan menunggu in...
4,4,"@myowish Hai, Kak Alen. Telkomsel dan Disney+ ...",hai kak alen telkomsel dan disney hotstar masi...

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   Tweets      100 non-null    object
 2   langkah01   100 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [13]:
df_hapus = df[~df['langkah01'].str.contains(" ")]

In [14]:
df_hapus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      int64
 1   Tweets      0 non-null      object
 2   langkah01   0 non-null      object
dtypes: int64(1), object(2)
memory usage: 0.0+ bytes

In [15]:
df_hapus.head(10)

Empty DataFrame
Columns: [Unnamed: 0, Tweets, langkah01]
Index: []

In [16]:
df_new = df[~df.isin(df_hapus)].dropna()

In [17]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   Tweets      100 non-null    object
 2   langkah01   100 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [18]:
df_new

,Unnamed: 0,Tweets,langkah01
0,0,"@FirahAlam Baik, Kak Stark. Mohon berkenan men...",baik kak stark mohon berkenan menunggu interak...
1,1,"@FirahAlam Halo, Kak Stark. Maaf ya, terkait k...",halo kak stark maaf ya terkait kendala aktivas...
2,2,"@t1kamer4d Dibuat gak nyaman ya, Kak George. N...",dibuat gak nyaman ya kak george notifikasi ter...
3,3,"@andre_sni Baik, Kak Andre. Mohon berkenan men...",_sni baik kak andre mohon berkenan menunggu in...
4,4,"@myowish Hai, Kak Alen. Telkomsel dan Disney+ ...",hai kak alen telkomsel dan disney hotstar masi...
...,...,...,...
95,95,"@KaDRuN_ToL0L Aduh, Maaf ya Kak jadi gak nyama...",_toll aduh maaf ya kak jadi gak nyaman mengena...
96,96,@kecroh Pak lurah makan kue cucur. Gea segera ...,pak lurah makan kue cucur gea segera meluncur gea
97,97,@rutotelkomsel Makan buah sambil lembur. Mohon...,makan buah sambil lembur mohon menunggu gea se...
98,98,"@pejuangkhilaf Hai, Kak. Maafin ya. Boleh ceri...",hai kak maafin ya boleh ceritain detail kendal...
99,99,@pejuangkhilaf Masa sih mahal Kak? Coba kasih ...,masa sih mahal kak coba kasih tau nomor hp yan...

In [19]:
# token
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Vincent\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [20]:
def word_tokenize_wrapper(text):
  return word_tokenize(text)

In [21]:
df_new['token'] = df['langkah01'].apply(word_tokenize_wrapper)

In [22]:
df_new.head(10)

,Unnamed: 0,Tweets,langkah01,token
0,0,"@FirahAlam Baik, Kak Stark. Mohon berkenan men...",baik kak stark mohon berkenan menunggu interak...,"[baik, kak, stark, mohon, berkenan, menunggu, ..."
1,1,"@FirahAlam Halo, Kak Stark. Maaf ya, terkait k...",halo kak stark maaf ya terkait kendala aktivas...,"[halo, kak, stark, maaf, ya, terkait, kendala,..."
2,2,"@t1kamer4d Dibuat gak nyaman ya, Kak George. N...",dibuat gak nyaman ya kak george notifikasi ter...,"[dibuat, gak, nyaman, ya, kak, george, notifik..."
3,3,"@andre_sni Baik, Kak Andre. Mohon berkenan men...",_sni baik kak andre mohon berkenan menunggu in...,"[_sni, baik, kak, andre, mohon, berkenan, menu..."
4,4,"@myowish Hai, Kak Alen. Telkomsel dan Disney+ ...",hai kak alen telkomsel dan disney hotstar masi...,"[hai, kak, alen, telkomsel, dan, disney, hotst..."
5,5,"@Omndut0105 Hai, Kak. Maaf ya untuk ketidakses...",hai kak maaf ya untuk ketidaksesuian tarif pen...,"[hai, kak, maaf, ya, untuk, ketidaksesuian, ta..."
6,6,"@hesnataa Hai, Kak Hesnata. Maaf ya untuk kend...",hai kak hesnata maaf ya untuk kendala cek puls...,"[hai, kak, hesnata, maaf, ya, untuk, kendala, ..."
7,7,"@kiflizul1 Baik, Kak Zulkifli. Maaf untuk vali...",baik kak zulkifli maaf untuk validasinya dan k...,"[baik, kak, zulkifli, maaf, untuk, validasinya..."
8,8,"@muhammaddahlanc Oke, Kak Dahlan. Arel segera ...",oke kak dahlan arel segera meluncur buat cek d...,"[oke, kak, dahlan, arel, segera, meluncur, bua..."
9,9,"@kiflizul1 Hai, Kak Zulkifli. Maaf ya untuk ke...",hai kak zulkifli maaf ya untuk keluhan interne...,"[hai, kak, zulkifli, maaf, ya, untuk, keluhan,..."

In [23]:
normalized_word = pd.read_csv('kamus_clean.csv')

In [24]:
normalized_word_dict = {}

for index, row in normalized_word.iterrows():
    if row[0] not in normalized_word_dict:
        normalized_word_dict[row[0]] = row[1] 

def normalized_term(document):
    return [normalized_word_dict[term] if term in normalized_word_dict else term for term in document]

In [25]:
df_new['token_akhir'] = df_new['token'].apply(normalized_term)

In [26]:
i=0
final_string_tokens = []
for text in df_new['token_akhir'].values:
    EachReviewText = ""
    EachReviewText = ' '.join(text)
    final_string_tokens.append(EachReviewText)

In [27]:
df_new["langkah02"] = final_string_tokens

In [28]:
df_new.head(5)

,Unnamed: 0,Tweets,langkah01,token,token_akhir,langkah02
0,0,"@FirahAlam Baik, Kak Stark. Mohon berkenan men...",baik kak stark mohon berkenan menunggu interak...,"[baik, kak, stark, mohon, berkenan, menunggu, ...","[baik, kak, stark, mohon, berkenan, menunggu, ...",baik kak stark mohon berkenan menunggu interak...
1,1,"@FirahAlam Halo, Kak Stark. Maaf ya, terkait k...",halo kak stark maaf ya terkait kendala aktivas...,"[halo, kak, stark, maaf, ya, terkait, kendala,...","[halo, kak, stark, maaf, ya, terkait, kendala,...",halo kak stark maaf ya terkait kendala aktivas...
2,2,"@t1kamer4d Dibuat gak nyaman ya, Kak George. N...",dibuat gak nyaman ya kak george notifikasi ter...,"[dibuat, gak, nyaman, ya, kak, george, notifik...","[dibuat, gak, nyaman, ya, kak, george, notifik...",dibuat gak nyaman ya kak george notifikasi ter...
3,3,"@andre_sni Baik, Kak Andre. Mohon berkenan men...",_sni baik kak andre mohon berkenan menunggu in...,"[_sni, baik, kak, andre, mohon, berkenan, menu...","[_sni, baik, kak, andre, mohon, berkenan, menu...",_sni baik kak andre mohon berkenan menunggu in...
4,4,"@myowish Hai, Kak Alen. Telkomsel dan Disney+ ...",hai kak alen telkomsel dan disney hotstar masi...,"[hai, kak, alen, telkomsel, dan, disney, hotst...","[hai, kak, alen, telkomsel, dan, disney, hotst...",hai kak alen telkomsel dan disney hotstar masi...

In [29]:
df_new.to_csv('dataset_tugas1.csv',sep=";")